In [110]:
import pandas as pd
import numpy as np

Our dataset is from: [https://www.kaggle.com/datasets/jackogozaly/data\-science\-and\-stem\-salaries?datasetId=1640011&sortBy=voteCount](https://www.kaggle.com/datasets/jackogozaly/data-science-and-stem-salaries?datasetId=1640011&sortBy=voteCount)

In [111]:
df = pd.read_csv("Levels_Fyi_Salary_Data.csv")

In [112]:
df.head()

,timestamp,company,level,title,totalyearlycompensation,location,yearsofexperience,yearsatcompany,tag,basesalary,...,Doctorate_Degree,Highschool,Some_College,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic,Race,Education
0,6/7/2017 11:33:27,Oracle,L3,Product Manager,127000,"Redwood City, CA",1.5,1.5,NaN,107000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
1,6/10/2017 17:11:29,eBay,SE 2,Software Engineer,100000,"San Francisco, CA",5.0,3.0,NaN,0.0,...,0,0,0,0,0,0,0,0,NaN,NaN
2,6/11/2017 14:53:57,Amazon,L7,Product Manager,310000,"Seattle, WA",8.0,0.0,NaN,155000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
3,6/17/2017 0:23:14,Apple,M1,Software Engineering Manager,372000,"Sunnyvale, CA",7.0,5.0,NaN,157000.0,...,0,0,0,0,0,0,0,0,NaN,NaN
4,6/20/2017 10:58:51,Microsoft,60,Software Engineer,157000,"Mountain View, CA",5.0,3.0,NaN,0.0,...,0,0,0,0,0,0,0,0,NaN,NaN

In [113]:
df.columns

Index(['timestamp', 'company', 'level', 'title', 'totalyearlycompensation',
       'location', 'yearsofexperience', 'yearsatcompany', 'tag', 'basesalary',
       'stockgrantvalue', 'bonus', 'gender', 'otherdetails', 'cityid', 'dmaid',
       'rowNumber', 'Masters_Degree', 'Bachelors_Degree', 'Doctorate_Degree',
       'Highschool', 'Some_College', 'Race_Asian', 'Race_White',
       'Race_Two_Or_More', 'Race_Black', 'Race_Hispanic', 'Race', 'Education'],
      dtype='object')

In [114]:
df['company'].isnull().sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of 0        False
1        False
2        False
3        False
4        False
         ...
62637    False
62638    False
62639    False
62640    False
62641    False
Name: company, Length: 62642, dtype: bool>

In [115]:
df.columns

Index(['timestamp', 'company', 'level', 'title', 'totalyearlycompensation',
       'location', 'yearsofexperience', 'yearsatcompany', 'tag', 'basesalary',
       'stockgrantvalue', 'bonus', 'gender', 'otherdetails', 'cityid', 'dmaid',
       'rowNumber', 'Masters_Degree', 'Bachelors_Degree', 'Doctorate_Degree',
       'Highschool', 'Some_College', 'Race_Asian', 'Race_White',
       'Race_Two_Or_More', 'Race_Black', 'Race_Hispanic', 'Race', 'Education'],
      dtype='object')

In [116]:
df['otherdetails']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
62637    NaN
62638    NaN
62639    NaN
62640    NaN
62641    NaN
Name: otherdetails, Length: 62642, dtype: object

In [117]:
df=df.drop(['Race'],axis=1)

In [118]:
df=df.drop(['Race'],axis=1)

KeyError: "['Race'] not found in axis"

In [119]:
df=df.drop(['Race'],axis=1

SyntaxError: unexpected EOF while parsing (847039044.py, line 1)

In [120]:
df.dropna(inplace=True)
df.reset_index(drop=True,inplace=True)_

SyntaxError: invalid syntax (3752447574.py, line 2)

In [121]:
len(df)

62642

In [122]:
df.location.value_counts()

Seattle, WA                      8701
San Francisco, CA                6797
New York, NY                     4562
Redmond, WA                      2649
Mountain View, CA                2275
                                 ...
San Fernando, LB, Philippines       1
Suwanee, GA                         1
Oxford, MS                          1
Wayne, PA                           1
Hilbert, WI                         1
Name: location, Length: 1050, dtype: int64

In [123]:
defget_state(x):words=x.split(',')state=words[1]ifstate=='CA':return'CA'elifstate=='WA':return'WA'elifstate=='NY':return'NY'else:return'Other'df['state']=df['location'].apply(get_state)df.drop(['Race'],axis=1,inplace=True)

SyntaxError: invalid syntax (2178979580.py, line 1)

In [124]:
top_15_popular=list()df[]'company'].value_counts().index)[:15]defin_popular(x):if x in top_15_popular:return True else:return False df['in_top_15']=df['company'].apply(in_popular)

SyntaxError: invalid syntax (1361047376.py, line 1)

In [125]:
import matplotlib.pyplot as plt

In [126]:
import numpy as np

In [127]:
y=np.array([35,25,25,15])

In [128]:
mylabels=["Oracle","Ebay","Amazon","Apple","Microsoft"]

In [129]:
plt.pie(y,labels='Top15Companies')

ValueError: 'label' must be of length 'x'

In [130]:
plt.show('Top15Companies')

TypeError: show() takes 1 positional argument but 2 were given

In [131]:
chart=px.pie(df,values='in_top_15',title='Top15Companies',names='company')chart.show()

SyntaxError: invalid syntax (1656911999.py, line 1)

In [132]:
import plotly.express as px

In [133]:
df=px.data.tips()

In [134]:
fig=px.pie(df, values='tip',names='day')

In [135]:
fig.show()

In [136]:
from matplotlib import pyplot as plt

In [137]:
import numpy as np

In [138]:
a=np.array([22,87,5,43,56,73,55,54,11,20,51,5,79,31,27])

In [139]:
fig, ax = plt.subplots(figsize =(10,7))ax.hist(a,bins=[0,25,50,75,100])

SyntaxError: invalid syntax (4105647862.py, line 1)

In [140]:
plt.show()

In [141]:
%matplotlib

Using matplotlib backend: agg

In [142]:
import matplotlib.pyplot as plt

In [143]:
plt.style.use('seaborn-whitegrid')

In [144]:
import numpy as np

In [145]:
x=np.linspace(0,10,30)

In [86]:
y=np.sin(x)

In [87]:
plt.plot(x,y,'-ok');

In [90]:
markersize=15

In [91]:
fig=px.pie(popular_title,values='company',names='title',title='Job Positions in the Data Science and STEM Feild') fig.show()x

SyntaxError: invalid syntax (3559243612.py, line 1)

In [92]:
import numpy as np

In [93]:
x=np.random.normal(size=20, loc=2)

In [94]:
y=np.random.normal(size=20, loc=6)

In [95]:
import matplotlib.pyplot as plt

In [96]:
plt.scatter(x,y)

In [97]:
plt.title('Basic Scatter plot')

Text(0.5, 1.0, 'Basic Scatter plot')

In [98]:
plt.xlabel('x')

Text(0.5, 28.383333333333326, 'x')

In [99]:
plt.ylabel('y')

Text(61.83333333333333, 0.5, 'y')

In [100]:
plt.show()

In [101]:
fig=px.pie(popular_titles,values='company',names='title',title='Job Positions in the Data Science and STEM Feild')fig.show()

SyntaxError: invalid syntax (2524585650.py, line 1)

In [102]:
px.scatter(df,x='basesalary',y='years'ofexperince',title='c'orrelation Between Base Salary,Years Of Experince Of Different Companies,And Gender',color='gender')

SyntaxError: invalid syntax (1148687744.py, line 1)

In [103]:
datafram.describe(based.coding)find

SyntaxError: invalid syntax (2728870374.py, line 1)

In [104]:
def Average(l):avg=sum(1)/len(1)return.avg.my_list=[2,4,6,8,10]average

SyntaxError: invalid syntax (2189669405.py, line 1)

In [105]:
softeng=df[df['title']=='Software Engineer'] plot12=px.histogram(softeng,x='basesalary',title='Software Engineer Base Salary per State',color='state'

SyntaxError: invalid syntax (1518489324.py, line 1)

In [106]:
df = df[df['basesalary']!= 0]

KeyError: 'basesalary'

In [107]:
defcheck_education(master,bach,doc,

SyntaxError: unexpected EOF while parsing (1058456208.py, line 1)

In [0]:
from sklean.metrios import confusion_matrix 
import

In [109]:
new.df = new_df.drop(['company', 'title', 'gender', 'education', 'race', 'state', 'in_top_15'], axis = 1)

NameError: name 'new_df' is not defined