In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('cleaned_data')
df.drop(['Unnamed: 0'], axis = 1, inplace = True)

In [3]:
df.head()

,company,title,totalyearlycompensation,yearsofexperience,yearsatcompany,basesalary,stockgrantvalue,bonus,gender,Masters_Degree,...,Some_College,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic,state,in_top_15,education,race
0,Google,Software Engineer,400000,5.0,5.0,210000.0,145000.0,45000.0,Male,0,...,0,1,0,0,0,0,CA,True,PHD,Asian
1,Microsoft,Software Engineer,136000,3.0,2.0,124000.0,1000.0,11000.0,Male,0,...,0,0,0,1,0,0,WA,True,Bachelors,Two
2,Google,Software Engineer,337000,6.0,6.0,177000.0,125000.0,36000.0,Male,0,...,0,1,0,0,0,0,CA,True,Bachelors,Asian
3,Microsoft,Software Engineer,222000,4.0,4.0,164000.0,38000.0,20000.0,Male,1,...,0,1,0,0,0,0,WA,True,Masters,Asian
4,Blend,Software Engineer,187000,5.0,0.0,165000.0,22000.0,0.0,Male,0,...,0,0,1,0,0,0,CA,False,Bachelors,White

In [4]:
df.columns

Index(['company', 'title', 'totalyearlycompensation', 'yearsofexperience',
       'yearsatcompany', 'basesalary', 'stockgrantvalue', 'bonus', 'gender',
       'Masters_Degree', 'Bachelors_Degree', 'Doctorate_Degree', 'Highschool',
       'Some_College', 'Race_Asian', 'Race_White', 'Race_Two_Or_More',
       'Race_Black', 'Race_Hispanic', 'state', 'in_top_15', 'education',
       'race'],
      dtype='object')

In [5]:
#state, title, race, education, company, gender, experience

In [6]:
state_2 = input('State: ')
if state_2 == 'state'
print('state')

SyntaxError: invalid syntax (523392932.py, line 2)

In [0]:
input = ['state', 'title', 'race', 'company', 'gender', 'yearsofexperience', 'education']
filler = df.groupby(by = input)['yearsatcompany', 'basesalary', 'stockgrantvalue', 'bonus'].mean()
filler.reset_index(inplace = True)
filler

In [0]:
#changeing expeirence from numerical values to categorical values
def convert(years):
    if years == 0:
        return 'NO EXPERIENCE'
    elif 1 <= years <= 3:
        return 'LITTLE EXPERIENCE'
    elif 4 <= years <= 6:
        return 'MEDIUM EXPERIENCE'
    else:
        return 'VERY EXPERIENCED'

In [0]:
df['experience'] = df['yearsofexperience'].apply(convert)

In [0]:
def findfillerdata(filler):
    if filler == None:
        return 'sorry no data found'
    else:
        return filler

In [0]:
#when there is no filler data it returns an empty df
def findfillerdata (user input):
    if df is empty
        return sorry no data found
    else
        return filler data
def predictions()filler data:
    best model - lr
    lr takes in filler data
    lr makes a prediction
    return that predction

In [8]:
import plotly.express as px #importing plotly

In [10]:
#piechart
popular_titles = df.groupby(by = 'title').count().reset_index().sort_values(by = 'company', ascending = False).head()
popular_titles

,title,company,totalyearlycompensation,yearsofexperience,yearsatcompany,basesalary,stockgrantvalue,bonus,gender,Masters_Degree,...,Some_College,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic,state,in_top_15,education,race
11,Software Engineer,13698,13698,13698,13698,13698,13698,13698,13698,13698,...,13698,13698,13698,13698,13698,13698,13698,13698,13698,13698
8,Product Manager,1453,1453,1453,1453,1453,1453,1453,1453,1453,...,1453,1453,1453,1453,1453,1453,1453,1453,1453,1453
12,Software Engineering Manager,1024,1024,1024,1024,1024,1024,1024,1024,1024,...,1024,1024,1024,1024,1024,1024,1024,1024,1024,1024
1,Data Scientist,875,875,875,875,875,875,875,875,875,...,875,875,875,875,875,875,875,875,875,875
2,Hardware Engineer,783,783,783,783,783,783,783,783,783,...,783,783,783,783,783,783,783,783,783,783

In [12]:
fig = px.pie(popular_titles, values = 'company', names = 'title', title = 'Popular Job Positions in the Data Science and STEM Feild')
fig.show()

In [13]:
fig.write_html('popular_job_position_pie')