In [2]:
import pandas as pd
import numpy as np

Our dataset is from: [https://www.kaggle.com/datasets/jackogozaly/data\-science\-and\-stem\-salaries?datasetId=1640011&sortBy=voteCount](https://www.kaggle.com/datasets/jackogozaly/data-science-and-stem-salaries?datasetId=1640011&sortBy=voteCount)

In [3]:
df = pd.read_csv("Levels_Fyi_Salary_Data.csv")

In [57]:
df.head()

,timestamp,company,title,totalyearlycompensation,location,yearsofexperience,yearsatcompany,basesalary,stockgrantvalue,bonus,...,Masters_Degree,Bachelors_Degree,Doctorate_Degree,Highschool,Some_College,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic
0,6/7/2017 11:33:27,Oracle,Product Manager,127000,"Redwood City, CA",1.5,1.5,107000.0,20000.0,10000.0,...,0,0,0,0,0,0,0,0,0,0
1,6/10/2017 17:11:29,eBay,Software Engineer,100000,"San Francisco, CA",5.0,3.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,6/11/2017 14:53:57,Amazon,Product Manager,310000,"Seattle, WA",8.0,0.0,155000.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,6/17/2017 0:23:14,Apple,Software Engineering Manager,372000,"Sunnyvale, CA",7.0,5.0,157000.0,180000.0,35000.0,...,0,0,0,0,0,0,0,0,0,0
4,6/20/2017 10:58:51,Microsoft,Software Engineer,157000,"Mountain View, CA",5.0,3.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [55]:
df.columns

Index(['timestamp', 'company', 'title', 'totalyearlycompensation', 'location',
       'yearsofexperience', 'yearsatcompany', 'basesalary', 'stockgrantvalue',
       'bonus', 'gender', 'cityid', 'rowNumber', 'Masters_Degree',
       'Bachelors_Degree', 'Doctorate_Degree', 'Highschool', 'Some_College',
       'Race_Asian', 'Race_White', 'Race_Two_Or_More', 'Race_Black',
       'Race_Hispanic'],
      dtype='object')

In [6]:
df['company'].isnull().values.any()

True

In [7]:
df['company'].isnull().sum()

5

In [9]:
len(df)

62642

In [11]:
df['level'].isnull().values.any()

True

In [14]:
df['level'].isnull().sum()

119

In [19]:
df['tag'].isnull().values.any()

True

In [20]:
df['tag'].isnull().sum()

854

In [24]:
df['gender'].isnull().values.any()

True

In [25]:
df['gender'].isnull().sum()

19540

In [26]:
df['otherdetails'].isnull().values.any()

True

In [27]:
df['otherdetails'].isnull().sum()

22505

In [29]:
df['dmaid'].isnull().values.any()

True

In [30]:
df['dmaid'].isnull().sum()

2

In [32]:
df['Masters_Degree'].isnull().values.any()

False

In [42]:
df['Race'].isnull().values.any()

True

In [43]:
df['Race'].isnull().sum()

40215

In [44]:
df['Education'].isnull().values.any()

True

In [45]:
df['Education'].isnull().sum()

32272

In [52]:
df = df.drop(['Race','Education','otherdetails','level','tag','dmaid'], axis = 1)

In [53]:
df.head()

,timestamp,company,title,totalyearlycompensation,location,yearsofexperience,yearsatcompany,basesalary,stockgrantvalue,bonus,...,Masters_Degree,Bachelors_Degree,Doctorate_Degree,Highschool,Some_College,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic
0,6/7/2017 11:33:27,Oracle,Product Manager,127000,"Redwood City, CA",1.5,1.5,107000.0,20000.0,10000.0,...,0,0,0,0,0,0,0,0,0,0
1,6/10/2017 17:11:29,eBay,Software Engineer,100000,"San Francisco, CA",5.0,3.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,6/11/2017 14:53:57,Amazon,Product Manager,310000,"Seattle, WA",8.0,0.0,155000.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,6/17/2017 0:23:14,Apple,Software Engineering Manager,372000,"Sunnyvale, CA",7.0,5.0,157000.0,180000.0,35000.0,...,0,0,0,0,0,0,0,0,0,0
4,6/20/2017 10:58:51,Microsoft,Software Engineer,157000,"Mountain View, CA",5.0,3.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [61]:
df.dropna(inplace=True)
df.reset_index(drop=True, inplace=True)

In [62]:
df['company'].isnull().values.any()

False

In [63]:
len(df)

43098

In [71]:
df['company'].value_counts()

Amazon                    5525
Microsoft                 3641
Google                    2978
Facebook                  2118
Apple                     1384
                          ...
GOogle                       1
Refinitiv                    1
cadence design systems       1
Moody's analytics            1
tableau software             1
Name: company, Length: 1478, dtype: int64

In [69]:
df['gender'].value_counts()

Male                               35698
Female                              6999
Other                                400
Title: Senior Software Engineer        1
Name: gender, dtype: int64

In [72]:
df['location'].value_counts()

Seattle, WA                          5800
San Francisco, CA                    4319
New York, NY                         3102
Redmond, WA                          1838
Sunnyvale, CA                        1528
                                     ...
Graz, ST, Austria                       1
Trondheim, ST, Norway                   1
Mandaluyong City, MM, Philippines       1
Elk Grove, CA                           1
Hilbert, WI                             1
Name: location, Length: 936, dtype: int64

In [75]:
df['Race_Asian'].value_counts()

0    31395
1    11703
Name: Race_Asian, dtype: int64

In [76]:
df['Race_Black'].value_counts()

0    42413
1      685
Name: Race_Black, dtype: int64

In [77]:
df['Race_White'].value_counts()

0    35095
1     8003
Name: Race_White, dtype: int64

In [78]:
df['Race_Two_Or_More'].value_counts()

0    42302
1      796
Name: Race_Two_Or_More, dtype: int64

In [79]:
df['Race_Hispanic'].value_counts()

0    41975
1     1123
Name: Race_Hispanic, dtype: int64